html,body{
  margin: 0;
  padding: 0;
  height: 100%;
}

::selection { background:#cc5456; color: #fff; } ::-moz-selection { background: #cc5456; color: #fff; }

.farray{
  font-family:"Farray";
}
.myriad{
  font-family:"MyriadPro";
}

.border-modal{
  border:#53606e 1px solid;
}

.color-default{
  color: #53606e;
}
.color-default strong{
  color:#cc5456;
  font-weight:normal;
}
.color-default a{
  color: #53606e;
}
.color-default a:hover{
  color: #53606e;
  text-decoration:none;
}

.border-image{
  border:rgba(120,171,161,0.5) 5px solid;
  display:block;
  transition:1s;
}
.border-image:hover{
  border:rgba(120,171,161,1) 5px solid;
  transition:1s;
}

.border-container{
  border:rgba(204,84,86,0.3) 5px solid;
  transition:1s;
}
.border-container:hover{
  border:rgba(204,84,86,1) 5px solid;
  transition:1s;
}

.image-gray{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width:100%;
  transition:1s;
}
.image-gray:hover{
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transition:1s;
}


.border-face{
  border:2px solid #3a5795;
  height:315px;
}
.no-margin{
  margin:0 !important;
}
.no-padding{
  padding:0 !important;
}

.no-padding-left{
  padding-left:0 !important;
}

.link-red a{
  color:#cc5456;
  padding:15px;
}

.link-yellow a{
  color:#ffbd42;
  padding:5px
}

.link-red a:hover{
  color:#cc5456 !important;
  background:none !important;
  opacity:0.7;
  text-decoration:none;
}
.link-yellow a:hover{
  color:#ffbd42 !important;
  background:none !important;
  opacity:0.7;
  text-decoration:none;
}

.t-center{
  width:100%;
  text-align:center;
}

@media (max-width:767px){
  .t-sm-center{
    width:100%;
    text-align:center;
  }
}

.pointer{
  cursor:pointer;
}

.navbar-default{
  background: #d9d9d9 !important;
  border:none !important;
  color: #53606e;
  border-radius:0 !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
}
.navbar-default a{
  color: #53606e !important;
  font-size: 20px;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.navbar-default a:hover,
.navbar-default a.ativo{
  color: #53606e !important;
  background:rgba(0,0,0,0.1) !important;
}

.navbar-default .navbar-toggle{
  border: 2px solid #53606e;
}

.icon-bar{
  background-color: #53606e !important;
}

@media (max-width:767px){
  .navbar-collapse{
    border-top: 2px solid #53606e !important
  }
  .navbar-nav {
    margin: 0 -15px !important;
  }
}
#carousel{
  height: 100%;
  overflow: hidden;

}

.item span{
  display: block;
  width: 100%;
  min-height: 300px;
  height: 9999px;
  background-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.item .carousel-hyolin{background-image: url('../img/slider-hyolin.png');}
.item .carousel-soyou{background-image: url('../img/slider-soyou.png'); background-position: top left;}
.item .carousel-bora{background-image: url('../img/slider-bora.png');}
.item .carousel-dasom{background-image: url('../img/slider-dasom.png');}

/*main*/
.main{
  background:url(../img/bg.png) repeat;
  width: 100%;
}

/*sections*/
.section-1{
  background: url(../img/bg-verde.png) repeat-x;
  height:148px;
  width: 100%;
  position: relative;
  border-top:2px #fff solid;
}
.textAbout{
  padding:45px 50px;
  color:#53606e;
  font-size: 14px;
  font-weight:bold;
}
@media (max-width:767px){
  .section-1{
    background:#9fe0b5;
    height:auto;
  }
  .textAbout{
    padding:20px 15px;
  }
}

.social-sistar{
  padding:25px 0;
}

.section-2{
  height:340px;
  width: 100%;
  position: relative;
  background:#ababab;
}

.img-section-2{
  width:100%
}

.container-disclaimer{
  position:absolute;
  z-index:100;
  top:50%;
  right:122px;
  width:300px;
  height:200px;
  margin-top:-100px;
  text-align:center;
  font-size:16px;
  color:#53606e;
}

@media (max-width:767px){
  .section-2{
    height:auto;
    background:#ababab;
  }
  .container-disclaimer{
    width:100%;
    height:auto;
    position:relative;
    padding:15px;
    left:0;
    margin-top:0;
  }
  .disclaimer{
    padding:15px 30px;
  }
}

.disclaimer{
  line-height:25px;
}

.disclaimer a{
  color:#cc5456;
}

.section-3{
  background: #fff;
  height:193px;
  width: 100%;
  position: relative;
  padding:10px 0;
}

.title-section-3.pull-right{
  position:relative;
  left:-5px;
}

.title-section-3{
  color:#79aba1;
  padding-bottom:10px;
}
.title-section-3 strong{
  font-weight:normal;
  color:#d9d9d9
}
.title-section-3 strong a{
  color:#d9d9d9;
}
.title-section-3 strong a:hover{
  color:#d0d0d0;
  text-decoration:none;
}
.container-parceiros{
  margin-top:10px;
}

.container-parse{
  margin:10px 0;
}

.parse{
  background:#79aba1;
  height: 40px;
  width:40px;
}

.second-nav{
  height:auto;
  padding:15px 0 10px 0;
}

.second-nav p{
  padding:15px 0;
}

.nav-footer{
  width: 100%;
}

/*footer*/
footer{
  background-color:#fbfaff;
  width:100%;
}

.img-footer{
  width:100%;
}

.logo-footer{
  font-size:70px;
  text-align:center;
  font-weight:normal;
  color:#53606e;
  margin-top:20px
}
@media (max-width:767px){
  .logo-footer{
    font-size:35px
  }
}
.logo-footer strong{
  font-weight:normal;
  color:#cc5456;
}
.creditos{
  width:100%;
  text-align: center;
  font-size:14px;
  color:#53606e;
  margin:20px 0;
}
.creditos a{
  color:#53606e;
}
.creditos a:hover{
  color:#cc5456;
}

/*Logo*/
.logo-container{
  position:absolute;
  max-width:420px;
  height:150px;
  bottom:100px;
  left:50%;
  margin-left: -210px;
  z-index:100;
}
.logo-container .logo {
  width: 100%;
  font-size:70px;
  text-align:center;
  font-weight:normal;
  color:#53606e;
  background: #d9d9d9;
  padding:10px 5px 20px 5px;
  text-shadow:-2px 3px 1px rgba(0,0,0,0.7);
  margin:0;
}

.logo-container .logo strong{
  font-weight:normal;
  color:#cc5456;
}

.logo-girls{
  width:100%;
  height:48px;
  background:rgba(217,217,217,0.7);
}
.logo-girls li{
  display:inline-block;
  list-style:none;
  color:#53606e;
  border-left:2px #53606e solid;
  padding:6px 12px;
  height: 32px;
  position:relative;
  top:8px;
  cursor:pointer;
}
.logo-girls li:first-child{
  border-left:none;
}

.logo-girls li.active-item-carousel{
  color:#cc5456;
}

/*Contato*/
.modal-header{
  border-bottom: #53606e 1px solid !important;
}
.modal-title{
  color:#53606e !important;
  font-weight:normal;
  font-size: 24px !important;
}

.close{
  color:#cc5456 !important;
  opacity:1 !important;
}

.contactForm{
  margin-top:10px;
  margin-bottom:10px;
}

.contactForm .inputText{
  width:100%;
  border:#53606e 1px solid;
  color:#53606e;
  padding:5px;
  margin:10px 0;
}

.contactForm .inputFile{
  margin:10px 0 0 0;
}

.btn-sistar-contact{
  background:#d9d9d9;
  border-radius:0 !important;
  width: 200px;
  margin-top: 40px;
  margin-bottom:40px;
  position:relative;
  left:50%;
  margin-left:-100px;
  height:30px;
  color:#53606e;
}
::-webkit-input-placeholder{
  color:#53606e;
}
:-moz-placeholder {
  color:#53606e;
}
::-moz-placeholder {
  color:#53606e;
}
:-ms-input-placeholder {
  color:#53606e;
}

.txtSuccess{
  color:#53606e;
  font-size:30px;
  padding:60px 0 40px 0;
}
.txtSuccess strong{
  color:#5cb85c;
  font-weight:normal;
  text-transform:uppercase;
  font-size:32px;
}

.modal-title-faq{
  font-size:16px;
  font-weight:normal;
  color:rgb(204,84,86);
  margin:20px 0 30px 0;
}
/*staff section*/
.staff-section{
  background:#fff;
  height: auto;
  width: 100%;
}
.member{
  background:none;
  min-height:450px;
  margin:20px 0;
}
.image-member{
  width:100%;
  max-width:100%;
}

figcaption{
  margin-top:10px;
  font-size:11px;
  color:#53606e
}

.member-name{
  color:#53606e;
}

.title-page{
  color:#53606e;
  font-weight:normal;
  text-shadow:-1px 1px 1px rgba(0,0,0,0.5);
  font-size:28px;
  margin:40px 0;
}
@media (max-width:767px){
  .title-page{
    font-size:18px;
    padding:0 15px;
  }
}

/*sistar section*/
.sistar-section{
  background:#fff;
}

.section-profiles, .section-discos, .section-links,
.section-videos, .section-premios{
  padding:20px 0 40px 0;
}

.box-member-sistar{
  min-height:285px;
}
@media (max-width:767px){
  .box-member-sistar{
    margin:20px 0;
  }
}

.container-modal-sistar{
  padding:20px 15px 10px 15px;
  font-size:13px;
  margin:30px 0;
}

.tit-profile{
  color: #53606e;
}

.figure-solo{
  padding:30px 10px 5px 10px;
}

.section-link{
  width:100%;
  display:block;
  text-align:center;
  color:#53606e;
  font-size:15px;
  padding:5px 3px;
  margin-bottom:7px;
}
.section-link:hover{
  text-decoration:none;
}

/*titulo header para mobile*/
.title-header{
  font-size:24px;
  margin-left: 10px;
  font-weight: normal;
  margin-top: 14px;
}
.title-header strong{color: #cc5456; font-weight: normal;}
