<div class="main clear-fix">
  <section class="clearfix sistar-section">
    <div class="container">
      <h2 class="farray t-center title-page clearfix">História do grupo</h2>

      <h2 class="farray t-center title-page">Perfis</h2>
      <section class="col-md-12 section-profiles clearfix">
        <div class="col-md-3 col-sm-6">
          <div class="pointer box-member-sistar border-container" title="Conheça a Hyolyn" data-toggle="modal" data-target="#modalHyolyn">
            <div class="col-md-12">
              <h4 class="farray t-center member-name">Hyolyn</h4>
            </div>
            <div class="col-md-12">
              <figure>
                <div class="border-image">
                  <img class="image-member image-gray" src="img/perf1.png" alt="Hyolyn">
                </div>
              </figure>
            </div>
          </div>
        </div><!--enf of this profile-->
        <div class="col-md-3 col-sm-6">
          <div class="pointer box-member-sistar border-container" title="Conheça a Soyou" data-toggle="modal" data-target="#modalSoyou">
            <div class="col-md-12">
              <h4 class="farray t-center member-name">Soyou</h4>
            </div>
            <div class="col-md-12">
              <figure>
                <div class="border-image">
                  <img class="image-member image-gray" src="img/perf2.png" alt="Soyou">
                </div>
              </figure>
            </div>
          </div>
        </div><!--enf of this profile-->
        <div class="col-md-3 col-sm-6">
          <div class="pointer box-member-sistar border-container" title="Conheça a Bora" data-toggle="modal" data-target="#modalBora">
            <div class="col-md-12">
              <h4 class="farray t-center member-name">Bora</h4>
            </div>
            <div class="col-md-12">
              <figure>
                <div class="border-image">
                  <img class="image-member image-gray" src="img/perf3.png" alt="Bora">
                </div>
              </figure>
            </div>
          </div>
        </div><!--enf of this profile-->
        <div class="col-md-3 col-sm-6">
          <div class="pointer box-member-sistar border-container" title="Conheça a Dasom" data-toggle="modal" data-target="#modalDasom">
            <div class="col-md-12">
              <h4 class="farray t-center member-name">Dasom</h4>
            </div>
            <div class="col-md-12">
              <figure>
                <div class="border-image">
                  <img class="image-member image-gray" src="img/perf4.png" alt="Dasom">
                </div>
              </figure>
            </div>
          </div>
        </div><!--enf of this profile-->

      <!--Hyolyn modal-->
      <div class="modal fade" id="modalHyolyn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="myriad modal-title">Perfil - Hyolyn</h4>
            </div><!--end modal-header-->
            <div class="modal-body clearfix">
              <div class="col-md-12 myriad infos-member-sistar clearfix">
                <div data-configid="18865000/15202814" style="width:100%; height:400px;" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
              </div>
            </div><!--end modal-body-->

          </div><!--end modal-content-->
        </div><!--end modal-dialog-->
      </div><!--end modal-->

      <!--end of Hyolyn modal-->

      <!--Soyou modal-->
      <div class="modal fade" id="modalSoyou" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="myriad modal-title">Perfil - Soyou</h4>
            </div><!--end modal-header-->
            <div class="modal-body clearfix">
              <div class="col-md-12 myriad infos-member-sistar clearfix">
                <div data-configid="18865000/15237825" style="width:100%; height:400px;" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
              </div>
            </div><!--end modal-body-->

          </div><!--end modal-content-->
        </div><!--end modal-dialog-->
      </div><!--end modal-->

      <!--end of Soyou modal-->

      <!--Bora modal-->
      <div class="modal fade" id="modalBora" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="myriad modal-title">Perfil - Bora</h4>
            </div><!--end modal-header-->
            <div class="modal-body clearfix">
              <div class="col-md-12 myriad infos-member-sistar clearfix">
                <div data-configid="18865000/15237824" style="width:100%; height:400px;" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
              </div>
            </div><!--end modal-body-->

          </div><!--end modal-content-->
        </div><!--end modal-dialog-->
      </div><!--end modal-->

      <!--end of bora modal-->

      <!--Dasom modal-->
      <div class="modal fade" id="modalDasom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="myriad modal-title">Perfil Dasom</h4>
            </div><!--end modal-header-->
            <div class="modal-body clearfix">
              <div class="col-md-12 myriad infos-member-sistar clearfix">
                <div data-configid="18865000/15237688" style="width:100%; height:400px;" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
              </div>
            </div><!--end modal-body-->
          </div><!--end modal-content-->
        </div><!--end modal-dialog-->
      </div><!--end modal-->

      <!--end of Dasom modal-->

      </section>
      <!--end of profiles-->

      <h2 class="farray t-center title-page pointer">Discografia</h2>

      <section class="col-md-12 section-discos clearfix">
        <div class="col-md-12">
          <div class="pointer box-member-sistar border-container" title="Conheça a discogradia do sistar" data-toggle="modal" data-target="#modalDisco">
            <div class="col-md-12">
              <figure class="figure-solo">
                <div class="border-image">
                  <img class="image-member image-gray" src="img/disco.jpg" alt="discografia sistar">
                </div>
              </figure>
            </div>
          </div>
        </div><!--enf of disco-->

        <!--Disco modal-->
        <div class="modal fade" id="modalDisco" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="myriad modal-title">Discografia</h4>
              </div><!--end modal-header-->
              <div class="modal-body clearfix">
                <div class="col-md-12 myriad infos-member-sistar clearfix">
                  <div data-configid="18865000/15237823" style="width:100%; height:400px;" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
                </div>
              </div><!--end modal-body-->

            </div><!--end modal-content-->
          </div><!--end modal-dialog-->
        </div><!--end modal-->

        <!--end of Disco modal-->
      </section>

      <h2 class="farray t-center title-page">Videografia</h2>
      <section class="col-md-12 section-videos clearfix">
        <div class="col-md-12">
        </div>
      </section><!--end of section videos-->

      <h2 class="farray t-center title-page">Premiaçoes</h2>
      <section class="col-md-12 section-premios clearfix">
        <div class="col-md-12">
        </div>
      </section><!--end of section premios-->

      <h2 class="farray t-center title-page">Links úteis</h2>
      <section class="col-md-12 section-links clearfix">
        <div class="col-md-12">

          <div class="col-md-2">
            <a class="section-link border-container myriad" href="https://twitter.com/sistarsistar" title="Twitter Sistar" target="_BLANK">Twitter</a>
          </div>

          <div class="col-md-2">
            <a class="section-link border-image myriad" href="https://www.facebook.com/officialstarship" title="Facebook Sistar" target="_BLANK">Facebook</a>
          </div>

          <div class="col-md-2">
            <a class="section-link border-container myriad" href="https://twitter.com/STARSHIPent" title="Twitter Starship" target="_BLANK">Twitter da Starship</a>
          </div>

          <div class="col-md-2">
            <a class="section-link border-image myriad" href="https://www.facebook.com/officialstarship" title="Facebook Starship" target="_BLANK">Facebook da Starship</a>
          </div>

          <div class="col-md-2">
            <a class="section-link border-container myriad" href="http://www.starship-ent.com/" title="Site da Starship" target="_BLANK">Site da Starship</a>
          </div>

          <div class="col-md-2">
            <a class="section-link border-image myriad" href="https://www.youtube.com/user/starshiptv" title="YouTube Starship" target="_BLANK">Canal da Starship YT</a>
          </div>
        </div>

      </section><!--end of section links-->

      <h2 class="farray t-center title-page">Letras Traduzidas</h2>

      <h2 class="farray t-center title-page">MVs legendados</h2>

      <h2 class="farray t-center title-page">Links úteis do site</h2>
      <section class="col-md-12 section-links clearfix">
        <div class="col-md-12">

          <div class="col-md-2 col-md-offset-1">
            <a class="section-link border-image myriad" href="https://www.facebook.com/SISTARBr" title="Facebook" target="_BLANK">Facebook</a>
          </div>

          <div class="col-md-2">
            <a class="section-link border-container myriad" href="http://ask.fm/SISTARBr" title="Ask" target="_BLANK">Ask</a>
          </div>

          <div class="col-md-2">
            <a class="section-link border-image myriad" href="https://twitter.com/SISTAR_Br" title="Twitter" target="_BLANK">Twitter</a>
          </div>

          <div class="col-md-2">
            <a class="section-link border-container myriad" href="https://www.youtube.com/user/sistarbr" title="Youtube" target="_BLANK">Youtube</a>
          </div>

          <div class="col-md-2">
            <a class="section-link border-image myriad" href="http://www.dailymotion.com/sistarbr" title="Dailymotion youtube" target="_BLANK">Canal Dailymotion</a>
          </div>

        </div>
      </section><!--end of section links-->

    </div><!--end of container-->

  </section><!--end of section sistar-->
  
</div>
