<!--modal FAQ -->
<div class="modal fade" id="modalFaq" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="myriad modal-title">F.A.Q</h4>
      </div><!--end modal-header-->
      <div class="modal-body">
        <!--COLAPSE GROUP-->
        <h2 class="modal-title-faq t-center farray">Perguntas relacionadas ao SISTAR</h2>
        <div class="panel-group myriad" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Quando e onde as meninas debutaram?
                </a>
              </h4>
            </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              Music Bank, no dia 4 de Junho de 2010.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Quantos anos elas tem (Br)?
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              Bora: 25 - HyoLyn: 24 - SoYou: 23 - DaSom: 22.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Qual é o certo: HyoRin ou HyoLyn, SoYu ou SoYou?
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              Os dois. HyoRin/SoYu é o hangul e HyoLyn/SoYou como elas e a Starship/Loen escrevem, logo, ambos estão certos.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Como são chamados os fãs de cada uma?
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              Bora: aBorable - HyoLyn: Hyottie - SoYou: Soyunique - DaSom: handSome.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Qual é o significado de STAR1?
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              O significado por trás do nome é que o fã clube vai estar lá para SISTAR até que se tornem uma estrela e também se tornará o melhor (número alcance um).
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSix">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Por que STAR1 se lê Style?
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
              O fã-clube oficial do SISTAR é chamado de "STAR1", é lido como "Style" (vem da palavra "estrela" e o número 1 em coreano é lido como "il"; sta-il).
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSeven">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Quantos dramas a DaSom já participou?
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
            <div class="panel-body">
              Dois, Shut Up Family e Melody of Love.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingEight">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                O que significa cada tatuagem da HyoLyn?
              </a>
            </h4>
          </div>
          <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
            <div class="panel-body">
              Braço: Jesus Cristo. Barriga: Uma cruz e uma frase: Canção para Deus. No pulso: Josué 1:9
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingNine">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                Por que a HyoLyn tem uma tatuagem na barriga?
              </a>
            </h4>
          </div>
          <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
            <div class="panel-body">
              Para esconder a cicatriz de uma operação que ela sofreu na infância.  HyoLyn nasceu com um problema em seu intestino e foi submetida a uma cirurgia.
            </div>
          </div>
        </div>

        <h2 class="modal-title-faq t-center farray">Perguntas relacionadas ao SITE</h2>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTen">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                Por que vocês ficaram fora do ar por tanto tempo?
              </a>
            </h4>
          </div>
          <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
            <div class="panel-body">
              Primeiro o Starszz tirou nosso domínio e hospedagem sem aviso prévio, depois o Fanfusion roubou todo o nosso conteúdo. Demoramos para voltar porque o Fanfusion não queria liberar o nosso domínio já pago, a nossa amiga Ana que conseguiu recuperar depois de muito esforço.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingEleven">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                Como funciona o SSBrSubs?
              </a>
            </h4>
          </div>
          <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
            <div class="panel-body">
              Nós vamos fazendo os vídeo conforme desejos internos, se você deseja pedir algum vídeo específico, pode pedir no nosso ask (no final da página). Iremos adiciona-lo a nossa lista.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwelve">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                Por que vocês demoram tanto para entregar?
              </a>
            </h4>
          </div>
          <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
            <div class="panel-body">
              Nenhuma de nós sabe Coreano, então dependemos de outras pessoas para isso. O SISTAR não é um grupo muito rico em conteúdo legendado em Inglês, quando existe, pode existir uma barreira de achar o vídeo "limpo".
            </div>
          </div>
        </div>

      </div>
        <!--END OF COLLAPSE GROUP-->
      </div><!--end modal-body-->

    </div><!--end modal-content-->
  </div><!--end modal-dialog-->
</div><!--end modal-->
<!--end of modal FAQ-->
